.cards {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: var(--spacer-3);

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  card {
    min-width: calc(100% - (var(--spacer-3) * 2));
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-left: var(--spacer-2);

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      object-fit: contain;
    }

    &:first-child {
      margin-left: initial;
    }
  }
}
