.cards {
  align-items: center;
  display: flex;
  overflow-x: auto;
  padding-bottom: var(--spacer-3);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  card {
    margin-left: var(--spacer-2);
    min-width: calc(100% - (var(--spacer-3) * 2));
    scroll-snap-align: center;
    scroll-snap-stop: always;

    img {
      aspect-ratio: 16/9;
      -webkit-aspect-ratio: 16/9;
      height: auto;
      max-width: 100%;
      object-fit: cover;
    }

    &:first-child {
      margin-left: initial;
    }
  }
}
