:host {
  position: relative;
  min-height: 100vh;

  small {
    font-size: 8px;
  }

  button[toggle] {
    position: fixed;
    bottom: 4px;
    right: 4px;
  }

  footer {
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--light);
    position: static;
    bottom: 100%;
    border-top: 1px dashed var(--dark);
  }

  .dark & {
    footer {
      background-color: var(--dark);
    }
  }
}

.cards {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: var(--spacer-3);

  &::-webkit-scrollbar {
    display: none;
  }

  card {
    min-width: calc(100vw - (var(--spacer-3) * 2));
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-left: var(--spacer-2);

    &:first-child {
      margin-left: var(--spacer-3);
    }
  }
}
