:host {
  position: relative;
  min-height: 100vh;
  display: block;

  small {
    font-size: 8px;
  }

  button[toggle] {
    position: fixed;
    bottom: 4px;
    right: 4px;
  }

  footer {
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--light);
    position: static;
    bottom: 100%;
    border-top: 1px dashed var(--dark);
  }

  .dark & {
    footer {
      background-color: var(--dark);
    }
  }
}
