:host {
  position: relative;
  min-height: 100vh;
  display: block;

  small {
    font-size: 8px;
  }

  button[toggle] {
    position: fixed;
    bottom: 4px;
    right: 4px;
  }

  footer {
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--light);
    position: static;
    bottom: 100%;
    border-top: 1px dashed var(--dark);
  }

  .dark & {
    footer {
      background-color: var(--dark);
    }
  }
}


.logo {
  display: inline-block;
  font-family: 'Bebas Neue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3rem;
  margin: 0 auto;
}

.j {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: inline-block;
  font-size: 5rem;
  padding-right: 1rem;
}
.jbox {
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0rem;
  background: transparent;
}

.lbox {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  transform: skewX(-15deg);
  margin: 0 auto;
}

.l {
  transform: skewX(15deg);
  padding: 0 1rem 0;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: inline-block;
  font-size: 5rem;
}
