<!-- <header class="py-2 bg-primary mb-3">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="home">
      <h1 class="m-0 text-white">Jankless</h1>
    </a>
    <nav>
      <ng-container *ngFor="let item of ['home', 'contact']">
        <button ui [routerLink]="item" [routerLinkActive]="'d-none'">
          {{ item | titlecase }}
        </button>
      </ng-container>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
<router-outlet name="modal"></router-outlet>
<router-outlet name="sheet"></router-outlet>
<footer class="text-center">&copy; {{ date | date: 'yyyy' }}</footer> -->
<button ui class="d-block ms-auto bg-white text-black-50" toggle (click)="toggleTheme()">
  &#9790;<small class="d-block text-uppercase">Switch</small>
</button>
<div class="container d-flex align-items-center justify-content-center vh-100">
  <img [src]="'../assets/jankless-logo.svg'" alt="jankless" />
</div>
